body {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0;
}

.img1 {
  width: 435px;
  height: 300px;
}
.img2 {
  width: 300px;
  height: 300px;
}
.alinks {
  text-decoration: none;
  color: inherit;
}

.columns {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  flex: 33.33%;
}
